*{
   box-sizing: border-box;
}
/* shared styles */
.btn {
   font-family: inter;
   font-weight: 600;
   color: white;
   padding: 26px 50px;
   background-color: #E95A08;
}
img{
   width: 100%;
}
/* navbar styles*/
.navbar-logo img{
width: 135px;
height: 82px;
}
/* plant lover section */
.badge{
   width: 286px;
   height: 286px;
   animation: rotation 5s linear infinite ;
}
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg) ;
      }
    }

/* latest-deals-section */
.deals-section-pic {
   height: 420px;
   display: flex;
   text-align: center;
   gap: 38px;
}

.picture-left {
   width: 35%;

}

.picture-left .left-image-1,
.left-image-2 {
   margin-bottom: 20px;
   /* filter: grayscale(50%); */
   /* height: calc((100% - 20px)/2); */

}


.picture-left .left-image-1 {

   background-image: linear-gradient(to right, rgba(97, 93, 93, 0.356)), url(./assets/deal-bloom.png);
   height: 200px;
}

.picture-left .left-image-2 {
   background-image: linear-gradient(to right, rgba(97, 93, 93, 0.356)), url(./assets/deal-ana.png);
   height: 200px;
}

.picture-left .left-image-2,
.left-image-1 {

   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.picture-right-image {
   background-image: linear-gradient(to right, rgba(97, 93, 93, 0.356)), url(./assets/deal-zabo.png);
   border-radius: 16px;
   width: 65%;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}

.picture-right-content {
   color: white;
}

.offer-left {
   color: white;
   font-weight: 700;
   font-size: 20px;
   font-family: inter;
}

.offer-right {
   color: white;
   font-weight: 700;
   font-size: 26px;
   font-family: inter;
}

.shop-now-left {
   color: white;
   font-weight: 700;
   font-family: inter;
   text-decoration: underline;
}

.shop-now-right {
   font-weight: 600;
   font-family: inter;
   font-size: 24px;
   text-decoration: underline;
}


/* join section styles */
.join {
   background-image: url(./assets/news-letter-bg.png);
   background-size: cover;
}

.join .btn {
   padding: 8px 20px;
   font-size: 1rem;
   font-family: inter;
   font-weight: 600;
}

/* footer styles */
.footer-links ul li {
   color: rgb(107, 114, 128);
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 32px;

}
.footer-logo img{
   width: 135px;
   height: 82px;
}
.social-id img{
   width: 36px;
   height: 36px;
}

@media screen and (max-width:1024px) {

/* navbar section */
.navbar-logo img{
width: 63px;
height: 38px;
}
   /* plant card section */
   .card .flower-name {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 0px;
   }

   .card .flower-price {
      font-weight: 700;
      font-size: 1rem;
   }

   .card .btn {
      font-size: 1rem;
      padding: 10px;
   }

   .plants .plant-description {
      max-width: 336px;
   }

   /* plant lover section  */
   .badge {
      display: none;
   }

   .plant-service {
      flex-direction: column;
      padding: 100px 20px 20px 20px;
   }

   .plants-service-content {
      margin-top: 0;
   }

   .br {
      display: none;
   }

   .plant-service-img {
      margin-bottom: 18px;

   }

   .plants-service-content .service-title {
      font-size: 1.5rem;
   }

   .plants-service-content ul li {
      font-size: 1rem;
      line-height: 16px;
   }

   /* deals section */
   .latest-deals {
      margin-top: 40px;
   }

   .deals-section-heading {
      margin-bottom: 50px;
   }

   .deals-section-description {
      width: 330px;
      line-height: 16px;
   }

   .deals-section-pic {
      flex-direction: column;
      height: auto;
      gap: 0;
      margin-left: 15px;
      margin-right: 15px;
   }

   .picture-left,
   .picture-right-image {
      /* width: calc(100% - 30px); */
      width: 100%;
      
   }

   .left-image-1,
   .left-image-2 {
      height: 180px;
      width: 100%;
      
   }

   .picture-right-image {
      height: 200px;
      width: 100%;

   }

   .offer-right {
      font-size: 20px;
   }

   .shop-now-right {
      font-size: 1rem;
   }

   /* join section */
   .join {
      background-size: cover;
   }

   /* footer section */
   .footer-items-container {
      flex-direction: column;
      padding-left: 24px;
   }

   .social-id {
      flex-direction: row;
   }
   .social-id img{
   width: 24px;
   height: 24px;
}

   .footer-logo {
      margin-bottom: 20px;
   }

}