
/* shared styles */
.btn{
    font-family: inter;
    font-weight: 600;
    color: white;
    padding: 26px 50px;
    background-color: #E95A08;
}

/* navbar styles */

@media screen and (max-width:1024px) {
    /* plant card section */
     .card .flower-name{
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 0px;
     }
     .card .flower-price{
        font-weight: 700;
        font-size: 1rem;
     }
     .card .btn{
        font-size: 1rem;
        padding: 10px;
     }
     .plants .plant-description{
        max-width: 336px;
     }
     /* plant lover section  */
     .badge{
        display: none;
     }
     .plant-service{
        flex-direction: column;
        margin:100px 20px 20px 20px;
     }
     .br{display: none;}
     .plant-service-img{
        margin-bottom: 18px;
        height: 400px;
     }
     
    .plants-service-content .service-title{
        font-size: 1.5rem;
     }
     .plants-service-content ul li{
        font-size: 1rem;
        line-height: 16px;
     }
}